<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"></pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
	<connectionStrings>
		<add name="cn" connectionString="server=localhost\SQLEXPRESS;database=db_onlinecatalogspace;Integrated Security=true"/>
	</connectionStrings>
</configuration>
