<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="nav-collapse collapse">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">View Employees</a></li>
            <li><a href="">Create employee</a></li>
            
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
