
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>please fill the form below</h1>
    <form action="/my/formsubmit">
        <table>
            <tr>
            <td>what is your name</td>
            <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td>your age</td>
                <td><input type="text" name="Age"/></td>
            </tr>
            <tr>
                <td>your country</td>
                <td><input type="text" name="Country"/></td>
            </tr>
            <tr>
                <td>
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
